<h2>Here is the list of articles</h2>

<ul>
<% @articles.each do |article| %>
  <li>
    <%= link_to article.title, article_path(article) %> <%= link_to "edit", edit_article_path(article) %>
    <%= link_to "delete", article_path(article),
    method: :delete,
    data: {confirm: "Are you sure?"} %>
  </li>
<% end %>
</ul>

<h3><%= link_to "Here if you want to create a new article", new_article_path %> </h3>